
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.App {
    padding: 10px;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    color: #757575;

}

body {
    background-color: #FBFBFB;
}

h1 {
/*    color: #F4514E;*/
    color: #16A2B7;
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-size: 0.2em;
    text-align: center;
}

#home-screen, #gameplay-screen {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/*Homescreen css*/

#start-info {
    margin-bottom: 10%;
}

#gameplay-screen {
  padding-top: 10%;
}

.sample-text {
    padding-left: 10%;
    text-align: left;
}

.lyric-entry .typing-input {
  display: inline-flex;
  margin: auto;
  text-align: left;
  width: 80%;
  border: 0;
  border-bottom: 5px solid #16A2B7;
  outline: 0;
  background: transparent;
  font-size: 20px;
}

.lyric-entry .correct-input {
  outline: 0;
  color: #61EAC4;
  white-space: nowrap;
  font-size: 20px;
  padding-bottom: 5px;
  padding-right: 0;
  display: inline-block;
}

.lyric-entry .typing-input input {
  display: inline-block;
  flex-grow: 1;
  width: auto;
  border: 0;
  outline: 0;
  padding: 0;
  padding-bottom: 5px;
}

.lyric-entry input::placeholder {
    font-size: 25px;
    color: lightgray;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 3px;
	height: 90%;
	background-color: #757575;
	left: 10%;
	bottom: 10px;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/*Homescreen css*/


#level-select-screen {
    text-align: center;
    padding: 5%;

}

.correct-input {
  color: green;
}
